[Unit]
Description=Veloga Auto Cluster Service
After=dbus.service bluetooth.service dlt.service
Wants=bluetooth.service

[Service]
Environment=DLT_INITIAL_LOG_LEVEL="::6"
ExecStart=-/velogaauto/velogaservice
KillMode=process
WorkingDirectory=/velogaauto
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target bluetooth.target
