[Unit]
Description=COVESA DLT Service
After=dbus.service

[Service]
Type=simple
ExecStart=-/velogaauto/dlt-start
Restart=on-failure
RestartSec=3


[Install]
WantedBy=multi-user.target
