[Unit]
Description=COVESA DLT Service
After=dbus.service

[Service]
Environment=DLT_INITIAL_LOG_LEVEL="::6"
ExecStart=-/velogaauto/dlt-daemon
WorkingDirectory=/velogaauto
Restart=always

[Install]
WantedBy=multi-user.target
